.trackfull {
    padding: 1.33em;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.trackfull-headline {
    font-size: 22pt;
    color: rgba(0, 0, 0, 0.3);
    margin: 0 0 1em 0;
}

.trackfull-overview {
    display: flex;
}

.trackfull-overview-image {
    width: 200px;
}

.trackfull-overview-description {
    flex-grow: 1;
    margin: 0 0 0 2em;
}

.trackfull-text {
    margin: 0 0 0.66em 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.4);
}

.trackfull-back-button {
    font-weight: 400;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    margin: 0 0.33em 0 0;
}

@media only screen and (max-width: 800px) {
    .trackfull-overview-image {
        display: none;
    }
    
    .trackfull-overview-description {
        margin: 0;
    }
}